.usuario_contenedor{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:30px;
    padding:25px;
    box-sizing:border-box;
}

/*==================================================
=            MÉTRICAS SUPERIORES
==================================================*/
.usuario_metricas{
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:20px;
}

/*==================================================
=            CONTENIDO PRINCIPAL
==================================================*/

.usuario_contenido{
    display:flex;
    flex-direction:column;
    gap:25px;
    width:100%;
    min-height:500px;
}