
.login_pagina_contenedor{
    color: var(--color-primario);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 89.5dvh;
    margin: 10px;
}