.formulario_inscripcion_contenedor{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-items: center;
    padding: 10px;
    gap: 10px;
    background: linear-gradient(135deg, #2e2e4d, #030308);
    border-radius: 16px;

    /* Sombra elegante */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);

    animation: fadeInForm 0.6s ease-in-out;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    
}

.formulario_inscripcion_filtros{
    display: flex;
    gap: 10px;
    width: 100%;
 
    justify-content: center;
}

.formulario_inscripcion_info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.formulario_inscripcion_botones{
    display: flex;
}

.formulario_inscripcion_titulo {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #e0f3ff;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;

    /* Efecto Glow suave */
    text-shadow: 
        0 0 4px #69c7ff,
        0 0 8px #5bbaf7,
        0 0 12px #4aa9e6;

    /* Línea inferior estilada */
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(105, 199, 255, 0.4);

    /* Espaciado extra */
    display: block;
}


/* ------------------- RESPONSIVE ------------------- */


/*  Móviles */
@media (max-width: 576px) {
    .formulario_inscripcion_filtros{
        flex-direction: column;
        
        align-items: center;
    }

    .formulario_inscripcion_botones{
        flex-direction: column;
    }    
}
